html,
body {
  font-family: "Poppins", sans-serif;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
}

.content {
  max-height: 500px;
}

.content::-webkit-scrollbar {
  display: none;
}

.content p {
  text-align: justify;
  font-size: 0.9rem;
}

.img-wrap {
  margin-top: 50px;
}

.img-char {
  transform: scaleX(-1);
  max-width: 150px;
}

.talk-bubble {
  position: absolute;
  background-color: white;
  top: -28px;
  right: 120px;
  border-radius: 4px;
  padding: 10px 12px;
}

.bubble-text {
  font-size: 14px;
}

.talk-bubble::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #ddd;
  position: absolute;
  top: 10px;
  right: -11.8px;
}
